.sidebar{
    border: 1px solid black;
    height: 960px;
    width: 540px;

}

button{
    width:100%;
    height: 50px;
    background-color: green;
    margin: 0;
    padding: 20px;
}

h1{
    font-size:18pt;
    text-align: center;
    text-decoration: underline;
    color: darkgreen;
    font-family: consolas;
}